#cabecera{
    /*
    Para el tamaño de la cajita
    */
    width:95%;
    /*
    Propiedades del borde
    */
    border-width: 10px; 
    border-style:solid;
    border-color:blue;
    /*
    Para separar la cajitas
    */
    margin-bottom:10px;

}


#menu{
    width: 10%
    ;  	
    border-width: 10px; 
    border-style:solid;
    border-color: red;

    padding: 5px 5px 10px 0px;
    float:left;
}

#contenido{
    width:60%;
    
    border-width: 10px; 
    border-style: solid;
    border-color:orange  ;

    padding: 5px 5px 10px 5px;
    float:left;
    
    margin-left: 10px;
}

#lateral    {
    width:20%;
    border-width: 10px; 
    border-style: solid;
    border-color:orange ;

    margin-left:10px;
    padding: 5px 5px 5px 20px;
    float:left;

}

#pie{
    /**
    Para centrar texto
    */
    text-align: center;
    /**
    Alcho de la caja
    */
    width:95%;
    /*
    Altura de la caja
    */
    height: 100px;
    /*
    Margen desde la izquierda
    */
    margin-left:10px;
    /*
    Margen de la parte superior
    */
    margin-top: 10px;
    /*
    Color del borde
    */
    border-color:blue;
    /*
    Tamaño del borde
    */
    border-width: 10px; 
    /*
    Estilo del borde
    */
    border-style: solid;
    /*
    Para los relllenos de un elemento
    */
    padding: 5px 5px 5px 20px;
    
    float:left;
    

    

}

