
.cabecera{
    /*
    Para el tamaño de la cajita
    */
    width:97%;
    /*
    Propiedades del borde
    */
    border-width: 10px; 
    border-style:solid;
    border-color:blue;
    /*
    Para separar la cajitas
    */
    margin-bottom:10px;

}


#menu{
    width: 10%; 	 
    border:10px solid;
    border-color: aqua;
    background-color:white;
    border-radius:22px;
    

    padding: 5px 5px 10px 0px;
    float:left;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
    
    


}

#contenido{
    width:50%;
    
    border-width: 10px; 
    border-style: solid;
    border-color:orange  ;

    padding: 5px 5px 10px 5px;
    float:left;
    
    margin-left: 10px;
}
#lateral{
    width: 30%;  
    	
    border-width: 10px; 
    border-style:solid;
    border-color: orange;

    padding: 5px 5px 10px 10px;
    margin-left: 10px;
    float:left;

}
.pie{
    /**
    Para centrar texto
    */
    text-align: center;
    /**
    Alcho de la caja
    */
    width:96%;
    /*
    Altura de la caja
    */
    height: 100px;
    /*
    Margen desde la izquierda
    */
    margin-left:10px;
    /*
    Margen de la parte superior
    */
    margin-top: 10px;
    /*
    Color del borde
    */
    border-color:blue;
    /*
    Tamaño del borde
    */
    border-width: 10px; 
    /*
    Estilo del borde
    */
    border-style: solid;
    /*
    Para los relllenos de un elemento
    */
    padding: 5px 5px 5px 20px;
    
    float:left;
    

    


}
body {
    background-color: #F5F5F5;
    }
body{
	background-image:center;
    background-image: url("../images/totus.jpg" );
    background-repeat: no-repeat;
    background-size:cover ;
}
